<h2>Welcome to Your Dashboard, {{user.username}}!</h2>

{{#if userPosts.length}}
  <h3>Your Blog Posts:</h3>
  <div class="user-posts">
    {{#each userPosts}}
      <div class="post">
        <h3><a href="/post/{{id}}">{{title}}</a></h3>
        <p class="post-meta">Posted on {{format_date created_at}}</p>
        <p>{{body}}</p>
      </div>
    {{/each}}
  </div>
{{else}}
  <p>You haven't created any blog posts yet.
    <a href="/create">Create one now</a>!</p>
{{/if}}

<h3>Add a New Blog Post:</h3>
<form action="/createPost" method="GET">
  <button type="submit">Create New Post</button>
</form>