<div class="postCards">
  <div>
    <h2>Welcome to Your Dashboard, {{user.username}}!</h2>
  </div>

  <div>
    <h3>Your Blog Posts:</h3>
  </div>

  {{!-- <div class="postCard"> --}}

    <div class="userPosts">
      {{#if userPosts.length}}
        {{#each userPosts}}
          <div class="post">
            <h3><a href="/post/{{id}}">{{title}}</a></h3>

            {{#if (compareDates updated_at created_at)}}
              <p class="post-meta">Updated on {{format_date updated_at}}</p>

            {{else}}
              <p class="post-meta">Posted on {{format_date created_at}}</p>
            {{/if}}

          </div>
        {{/each}}
    </div>

      {{else}}
        <p>You haven't created any blog posts yet.
          <a href="/createPost">Create one now</a>!
        </p>
      {{/if}}
  {{!-- </div> --}}

  <div class="newPostForm centered">
    <h3>Add a new blog post?</h3>
    <form action="/createPost" method="GET">
      <button type="submit">New Post</button>
    </form>
  </div>
</div>