{{#each posts as |post|}}
  <div class="post">
    <h3><a href="/post/{{post.id}}">{{post.title}}</a></h3>
    <p class="post-meta">Posted by
      {{post.user.username}}
        {{#if (compareDates updated_at created_at) }}
           Updated on {{format_date updated_at}}</p>
        {{else}}
           Posted on {{format_date created_at}}</p>
        {{/if}}
    <p>{{post.content}}</p>
  </div>
{{/each}}

